[submodule "bundle/ack.vim"]
   path = bundle/ack.vim
   url = https://github.com/milezsz/ack.vim
[submodule "bundle/jellybeans.vim"]
   path = bundle/jellybeans.vim
   url = https://github.com/nanotech/jellybeans.vim
[submodule "bundle/nerdtree"]
   path = bundle/nerdtree
   url = https://github.com/scrooloose/nerdtree
[submodule "bundle/vim-coffee-script"]
   path = bundle/vim-coffee-script
   url = https://github.com/kchmck/vim-coffee-script
[submodule "bundle/vim-javascript"]
   path = bundle/vim-javascript
   url = https://github.com/pangloss/vim-javascript
[submodule "bundle/vim-powerline"]
   path = bundle/vim-powerline
   url = https://github.com/Lokaltog/vim-powerline
[submodule "bundle/tComment"]
   path = bundle/tComment
   url = https://github.com/vim-scripts/tComment
[submodule "bundle/vim-jade"]
   path = bundle/vim-jade
   url = https://github.com/digitaltoad/vim-jade
[submodule "bundle/vim-stylus"]
   path = bundle/vim-stylus
   url = https://github.com/wavded/vim-stylus
[submodule "bundle/pasta"]
   path = bundle/pasta
   url = https://github.com/sickill/pasta
[submodule "bundle/nerdtree-execute"]
	path = bundle/nerdtree-execute
	url = https://github.com/ivalkeen/nerdtree-execute
